.button {
  background-color: blue;
  color: white;
  border-radius: 4px;
  padding: 8px 32px;
  font-size: 24px;
  border: solid 2px;
}

.button:hover {
  background-color: darkblue;
}

.button:active {
  background-color: lightblue;
}
