@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.headerGeneral img {
  width: 100%;
  object-fit: cover;
  height: 15vh;
  position: absolute;
  z-index: -1;
}

.headerNav a {
  list-style: none;
  text-decoration: none;

  background-color: #cecece;
  padding: 10px;
  border-radius: 5px;
  color: rgb(2, 2, 190);
  font-size: 1.5em;
  font-family: "Righteous", sans-serif;

  box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}
.headerNav a:hover {
  background-color: #efefef;
  padding: 15px;
  color: blue;
}
.headerNav {
  height: 15vh;
  display: flex;
  gap: 2em;
  justify-content: flex-end;

  align-items: center;
  margin-right: 100px;
}
