img {
  object-fit: cover;
  width: 50%;

  border-radius: 25px 0 0 25px;
}

.card {
  box-shadow: 4px 4px 4px rgba(150, 150, 0, 0.5);
  width: 600px;

  border-radius: 25px;

  display: flex;
  transition: transform 100ms ease-in;
  transition: box-shadow 200ms ease-in;

  margin: 1em;
}

.card-body {
  padding: 1em;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 8px rgba(0, 150, 0, 0.5);
}
