.card img {
  object-fit: cover;
  width: 50%;

  border-radius: 25px 0 0 25px;
}

.card {
  box-shadow: 4px 4px 4px rgba(150, 150, 0, 0.5);
  width: 400px;
  height: 300px;

  border-radius: 25px;

  display: flex;
  transition: transform 100ms ease-in;
  transition: box-shadow 200ms ease-in;

  margin: 1em;
}

.card-body {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.card:hover {
  /* animation: perspective 5s infinite; */
  animation: pulse 0.5s infinite;
  box-shadow: 8px 8px 8px rgba(0, 150, 0, 0.5);
}

.card-header {
  text-transform: uppercase;
  width: 50%;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes perspective {
  0% {
    transform: perspective(1000px) rotateX(0deg);
  }
  50% {
    transform: perspective(500px) rotateX(15deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
  }
}
